# This is a comment.
# Each line is a file pattern followed by one or more owners.
# For more details, visit https://help.github.com/articles/about-codeowners/

# Note that the current version of github.sec.samsung.net does not translate
# @org/team-name (e.g., @RS7-STAR/audri_maintainers), even though
# https://help.github.com/articles/about-codeowners/ depicts @org/team-name
# as well as @username format.
# So, We must write all IDs of @RS7-STAR/audri_maintainers manually.
*                                             @gildong-kim @gildong1-kim

# These owners own files in the /ROS/autodrive/ directory
# at the root of the repository and any of its subdirectories.
/src/autodrive/                               @gildong-kim

# These owners own files in the /ROS/autodrivingdemo/ directory
# at the root of the repository and any of its subdirectories.
/src/demo/                                    @gildong-kim @gildong2-kim

# These owners own files in the /ROS/Odometry/VIO/ directory
# at the root of the repository and any of its subdirectories.
/src/measure/deploy/                          @gildong-kim @gildong2-kim @gildong-3kim

