# This is a comment. Each line is a file pattern followed by one or more owners.
# For more details, visit https://help.github.com/articles/about-codeowners/
#
# Note that the current version of github.sec.samsung.net does not translate @org/team-name,
# even though the github webpage depicts how to use @org/team-name as well as @username format.
# So, We must write all member IDs manually instead of @org/team-name.

# in order that all members of a repository are supposed to review each other
*                @leemgs @myungjoo

# For /ci/, reviewers are limited to those who understand continuous integration (CI)
/ci/             @myungjoo @jijoongmoon @leemgs @again4you @wooksong @jaeyun-jung @helloahn @kparichay @dongju-chae

# For /packaging/, reviewers are limited to those who have some RPM packaging experiences
/packaging/      @myungjoo @leemgs @again4you @wooksong
/debian/         @myungjoo @leemgs @again4you @wooksong

