Source: taos-ci
Section: devel
Priority: optional
Maintainer: Geunsik Lim <geunsik.lim@samsung.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/nnsuite/TAOS-CI

Package: taos-ci
Architecture: all
Depends: bash, php, python, curl, ${misc:Depends}
Description: Automated project coordinator for GitHub repository
  TAOS-CI is an automated project coordinator to prevent a regression, find bugs,
  and reduce a nonproductive review process because of incorrect PRs in github.com.
  Actually, Submitting the incorrect PRs is a PITA in case of continuous integration.
  Basically, PRs causing regressions will not be automatically merged. As a result
  of that, it will reduce the burdens of reviewers.
